{% extends 'quiz-templates/base.html' %}  
{% load crispy_forms_tags %}
{% block content%}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content-section">
        {% if messageDetails %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted"><b>From:</b> {{messageDetails.sender}}</small>
                        <small class="text-muted"><b>To: </b>{{messageDetails.receiver}}</small>
                    </div>
                </div>
            </article>
        {% endif %}
        <!-- <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a class="ml-1" href="{% url 'user-login' %}">Log in</a></small>
        </div> -->
    </div>
{% endblock content%}


<!-- action="{% url 'add-friend' %}" -->