{% extends 'quiz-templates/base.html' %}  
{% load crispy_forms_tags %}
{% block content%}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content-section">
        {% for friend in friends %}
            <article class="media content-section">
                <div class="media-body">
                    <a class="article-content" href="#">{{friend}}</a>
                </div>
            </article>
        {% endfor %}
        <!-- <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a class="ml-1" href="{% url 'user-login' %}">Log in</a></small>
        </div> -->
    </div>
{% endblock content%}


<!-- action="{% url 'add-friend' %}" -->