{% extends 'quiz-templates/base.html' %} {% block content %}

<h2>All Games Leaderboards</h2>

{% for leaderboard in games_leaderboards %}
<h3>Game: {{ leaderboard.game.title }}</h3>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for score in leaderboard.top_scores %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ score.user__username }}</td>
      <td>{{ score.top_score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

<h3>Global Scores</h3>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for score in global_top_scores %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ score.user__username }}</td>
      <td>{{ score.top_score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
